@tailwind base;

@tailwind components;

@tailwind utilities;

html, body {
    height: 100%;
    font: 1em "Verdana", sans-serif;
}

body {
    background-color: #2D336C;
}

.container {
    height: 100%;
}

/* Homepage */
.top-bar {
    height: 10px;
}

.title-bar {
    font-size: 2.8em;
    color: white;
    text-align: center;
    margin-top: 1px;
}

.title-bar h1, .title-bar .subtitle {
    margin-bottom: 0;
}

.title-bar h1 {
    font-weight: 900;
}

.title-bar .subtitle {
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
}

.login-btn {
    font-size: 1.3em;
    color: white;
    float: right;
    text-decoration: none;
    margin-top: 1%;
    margin-right: 1%;
    font-weight: 600;
}

/* CTA Button */
.button-cta {
    display: inline-block;
    border-radius: 90px;
    background-color: #1ED760;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 600px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-weight: 900;
}

.button-cta span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-cta span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-cta:hover span {
    padding-right: 25px;
}

.button-cta:hover span:after {
    opacity: 1;
    right: 0;
}

/* Homepage illustration */
.img-illustration .music-iso {
    width: 30%;
}

/* Top tracks */
#loggedin {
    text-align: center;
    margin-bottom: 5%;
}

#loggedin .user-info {
    min-height: 70px;
}

.profil-name {
    width: 60%;
    font-size: 1em;
    color: white;
    float: right;
    text-decoration: none;
    margin-right: 1%;
    font-weight: 600;
    text-align: right;
    margin-top: 30px;
}

.user-img {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    text-align: right;
    background-position: -15px;
    background-repeat: no-repeat;
    background-image: url("https://i.scdn.co/image/ab6775700000ee8548701f4de270006d8d93b177");
}

.top-tracks-title {
    font-size: 4.5em;
    color: white;
    text-align: center;
    margin-top: 1px;
    font-weight: 900;
}

#count-tracks {
    display: none;
}

/* Button period */
#short_term, #medium_term, #long_term {
    display: inline-block;
    border-radius: 90px;
    background-color: #1ED760;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 12px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-weight: 900;
}

#short_term {
    background-color: black;
}

/* Grid top tracks */
.container-spotistat {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.track-info {
    margin-top: 5%;
    width: 40%;
    margin: 20px;
    background-color: #4a5194;
    opacity: 0.8;
    min-height: 200px;
}

.track-write-info {
    color: white;
    width: 58%;
    float: left;
    text-align: left;
    margin: 4%;
}

.track-write-info .track-position {
    color: #002761;
    background-color: #7981CF;
    width: 70%;
    font-weight: 900;
    text-align: center;
    margin-left: 15%;
    padding: 1%;
}

.track-write-info .track-name {
    font-weight: 900;
    font-size: 1.2em;
    margin-top: 5%;
}

.track-write-info .track-artists {
    color: rgb(204, 201, 201);
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 6%;
}

.track-link {
    text-decoration: none;
    color: white;
}

.track-img {
    width: 30%;
    float: rigth;
    margin: 2%;
    margin-top: 4%;
}

/* Animated gradient background */
body {
    background: linear-gradient(270deg, #2d336c, #540934, #2d336c);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 71%}
    50%{background-position:100% 30%}
    100%{background-position:0% 71%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 71%}
    50%{background-position:100% 30%}
    100%{background-position:0% 71%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 71%}
    50%{background-position:100% 30%}
    100%{background-position:0% 71%}
}
@keyframes AnimationName {
    0%{background-position:0% 71%}
    50%{background-position:100% 30%}
    100%{background-position:0% 71%}
}
